<section class="opener hero">
  <div class="lines_container">
    <div class="glyphs_container">
      <div class="glyph glyph_V">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_E">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_R">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_Y">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_space"></div>
    </div>

    <div class="glyphs_container">
      <div class="glyph glyph_space"></div>
      <div class="glyph glyph_O">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_P">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_E">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_N">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
    </div>

    <div class="glyphs_container">
      <div class="glyph glyph_T">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_Y">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_P">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_E">
        <div class="crop">
          <span class="form"></span>
          <span class="form"></span>
          <span class="form"></span>
        </div>
      </div>
      <div class="glyph glyph_space"></div>
    </div>
  </div>
</section>
