<section id="fonts">

  <div class="fonts_overview grid">
    <!--<h2>{{ site.data.typefaces.title }}</h2>-->
    {% for item in site.data.typefaces.docs %}
    <a href="{{ item.url | relative_url }}" class="grid_item">
      <span>a</span>
      <span>{{ item.title }}<br>by {{ item.author }}</span>
    </a>
    {% endfor %}
  </div>

  <div class="fonts_tester">
    <!--Fonts Tester-->
    {% for item in site.data.typefaces.docs %}
    <div class="wrapper" data-title="{{ item.title }}" data-author="{{ item.author }}" data-url="{{ item.url }}">
      <div class="header">
        <div class="title">{{ item.title }}</div>
        <div class="author">{{ item.author }}</div>
        <div class="size"><input class="fontSizeSlider" type="range" min="20" max="100" value="40" step="1"></div>
        <div class="link"><a href="{{ item.url }}" class="button">Further Information</a></div>
        <div class="download"><a href="{{ item.url }}" class="button">Download</a></div>
      </div>
      <div class="editor" contenteditable="true" lang="klingon" spellcheck="false">The lazy dog jumps over the quick brown fox.</div>
    </div>
    {% endfor %}
  </div>

</section>
