<!--
<header class="site-header" role="banner">
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
</header>
-->

<nav class="main_nav">
  <div class="content">
    <a href="#"><span>Very Open Type</span></a>
    <a href="#"><span>Fonts</span></a>
    <a href="#"><span>Info</span></a>
  </div>
</nav>

<section class="opener hero">
  {%- include cover.html -%}
</section>

<section>
  <h2>{{ site.data.typefaces.title }}</h2>
  {% for item in site.data.typefaces.docs %}
  <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
  {% endfor %}
<section>

<section>
  <h2>Further References</h2>
  {% for reference in site.references %}
  <a href="{{ reference.url | relative_url }}">{{ reference.title }}</a>
  {% endfor %}
<section>
