html,body {
  padding: 0;
  margin: 0;
  background: rgb(245,245,245);
}

body {
  padding: .1rem 1.3rem 1.4rem;
}

main {
  padding-bottom: 1rem;
  min-height: 70vh;
}

footer {
  margin-top: 4rem;
}

section {
  margin: 3rem 0;
}

section.opener {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

section.opener.hero {
  margin-top: .5rem;
  margin-top: 0;
  margin: 0;
  height: 100vh;
  background: black;
  h1 {
    max-width: 3em;
    color: transparent;
    text-shadow:
      1px 1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px 0px 0 #fff,
      0px 1px 0 #fff,
      -1px 0px 0 #fff,
      0px -1px 0 #fff;
  }
}
