body {
  padding: .3rem;
}

main {
  padding-bottom: 1rem;
  min-height: 100vh;
}

section.opener {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
