@font-face {
  font-family: 'Trace';
  src: url('https://github.com/jensschnitzler/Very-Open-Type/blob/main/typefaces/Trace/fonts/RectaTrace_211104_VOT-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://github.com/jensschnitzler/Very-Open-Type/blob/main/typefaces/Trace/fonts/RectaTrace_211104_VOT-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://github.com/jensschnitzler/Very-Open-Type/blob/main/typefaces/Trace/fonts/RectaTrace_211104_VOT-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://github.com/jensschnitzler/Very-Open-Type/blob/main/typefaces/Trace/fonts/RectaTrace_211104_VOT-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

html,body {
  font-family: "Trace", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  //color: $body-text-color;
}
