$lineMargin: .3rem;

.fonts_tester {
  //background: red;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-top: 5vh;

  &>div {
    display: block;
    position: relative;
  }

  .wrapper {
    margin: 0;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: black;
      bottom: 0;
      right: $lineMargin;
      left: $lineMargin;
      height: 1px;
    }
  }

  .header {
    //background: red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &>div {
      flex: 1 1 20%; // 5 elements
      display: block;
      padding: 0 .3rem;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
      a {
        text-decoration: none;
      }
    }
  }

  .editor {
    font-size: 40px;
    line-height: 1.05;
    padding: .2em;

    &:focus {
      outline: 0;
      border: 0;
    }

  }
}
