$lineMargin: .3rem;

.fonts_overview {

  a {
    text-decoration: none;
    display: block;
    span {
      display: block;
      position: relative;
      &:nth-child(1){
        font-size: 4vw;
        line-height: .6;
        text-align: center;
      }
      &:nth-child(2){
        position: absolute;
        bottom: $lineMargin;
        left: $lineMargin;
      }
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  &>.grid-item {
    display: block;
    height: 25vh;

    &:after,&:before {
      content: '';
      display: block;
      position: absolute;
      top: $lineMargin;
      bottom: $lineMargin;
      left: 0;
      width: 1px;
      background: black;
    }

    &:nth-child(4n+4) {

    }
  }
}
