$lineMargin: .3rem;

.fonts_tester {
  //background: red;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-top: 5vh;

  &>div {
    display: block;
    position: relative;
  }

  .wrapper {
    margin: 0;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: black;
      bottom: 0;
      right: $lineMargin;
      left: $lineMargin;
      height: 1px;
    }
  }

  .header {
    background: red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &>div {
      flex: 0 0 auto;
      display: block;
    }
  }

  .editor {
    font-size: 8vw;
    line-height: 1.05;
    padding: 2rem;

    &:focus {
      outline: 0;
      border: 0;
    }

  }
}
