section.license-info {

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: black;
    top: 0;
    right: $lineMargin;
    left: $lineMargin;
    height: 1px;
  }
  .content {
    padding: $lineMargin;
    text-align: center;
  }
}
