section.license-info {
  padding-top: 1.4rem
  &:before {
    content: '';
    display: block;
    position: absolute;
    background: black;
    bottom: 0;
    right: $lineMargin;
    left: $lineMargin;
    height: 1px;
  }
}
