$lineMargin: .3rem;

nav.main_nav {
  background: tranparent;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(90deg);
  z-index: 1000;
  .content {
    position: relative;
    width: 100%;
    display: flex;
    a {
      margin: 0;
      padding: 0;
      display: block;
      flex: 1 1 auto;
      cursor: pointer;
      //text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 $lineMargin;
      position: relative;
      span {
        display: block;
        padding: $lineMargin 0;
        position: relative;
        width: 100%;
        border-top: 1px solid black;
      }
      &+a:before {
        content: '';
        display: block;
        position: absolute;
        top: $lineMargin;
        bottom: $lineMargin;
        left: 0;
        width: 1px;
        background: black;
        //border-left: 1px solid black;

      }
      &:hover {
        opacity: .5;
      }
    }
  }
}
