<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main id="content" class="main-content" role="main">
      <section class="custom_content">
        {{ content }}
      </section>
    </main>
    {%- include footer.html -%}
    <!-- Remote Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Local Scripts -->
    <script src="/Very-Open-Type/assets/js/scripts.js"></script>
    <script src="/Very-Open-Type/assets/js/fontSizeSlider.js"></script>
  </body>
</html>
