<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}
  <body data-font-base-url="/{{ site.github.repository_name }}/typefaces/{{ page.title }}/fonts" data-fonts="{{ page.fonts }}">

    <header>
      <a href="{{ '/' | relative_url }}">Return</a>
      <span class="crumb">{{ site.title }} / {{ page.title }}</span>
    <header>

    <main id="content" class="main-content" role="main">
      <section class="opener">
        <h1>{{ page.title }}</h1>
      </section>
      
      {{ content }}
    </main>

    {%- include footer.html -%}
    <!-- Remote Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>
    <!-- Local Scripts -->
    <script src="/Very-Open-Type/assets/js/scripts.js"></script>
    <script src="/Very-Open-Type/assets/js/init-opentype.js"></script>

  </body>
</html>
